<launch>
  <arg name="model" default="burger"/> <!--waffle alternatively -->
  <arg name="gui" default="true"/>
  <arg name="noise" default="false"/>
  <arg name="robot_description_location" default="$(find launch_simulation)/turtlebot3/turtlebot3_$(arg model).urdf.xacro"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find launch_simulation)/world/small_environment.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <arg name="tb3_0" default="tb3_0"/>
  <arg name="tb3_0_x_pos" default="-4.0"/>
  <arg name="tb3_0_y_pos" default="4.5"/>
  <arg name="tb3_0_z_pos" default="0.0"/>
  <arg name="tb3_0_yaw"   default="0.0"/>
  <group ns = "$(arg tb3_0)">
    <param name="robot_description" command="$(find xacro)/xacro $(arg robot_description_location)" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg tb3_0) -x $(arg tb3_0_x_pos) -y $(arg tb3_0_y_pos) -z $(arg tb3_0_z_pos) -Y $(arg tb3_0_yaw) -param robot_description" />
  </group>

  <arg name="tb3_1" default="tb3_1"/>
  <arg name="tb3_1_x_pos" default="3.0"/>
  <arg name="tb3_1_y_pos" default="2.5"/>
  <arg name="tb3_1_z_pos" default="0.0"/>
  <arg name="tb3_1_yaw"   default=" 0.0"/>
  <group ns = "$(arg tb3_1)">
    <param name="robot_description" command="$(find xacro)/xacro $(arg robot_description_location)" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg tb3_1) -x $(arg tb3_1_x_pos) -y $(arg tb3_1_y_pos) -z $(arg tb3_1_z_pos) -Y $(arg tb3_1_yaw) -param robot_description" />
  </group>

 <arg name="tb3_2" default="tb3_2"/>
  <arg name="tb3_2_x_pos" default="3.0"/>
  <arg name="tb3_2_y_pos" default="-3.5"/>
  <arg name="tb3_2_z_pos" default="0.0"/>
  <arg name="tb3_2_yaw"   default="0.0"/>
  <group ns = "$(arg tb3_2)">
    <param name="robot_description" command="$(find xacro)/xacro $(arg robot_description_location)" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg tb3_2) -x $(arg tb3_2_x_pos) -y $(arg tb3_2_y_pos) -z $(arg tb3_2_z_pos) -Y $(arg tb3_2_yaw) -param robot_description" />
  </group>

  <arg name="tb3_3" default="tb3_3"/>
  <arg name="tb3_3_x_pos" default="-3.0"/>
  <arg name="tb3_3_y_pos" default="3.5"/>
  <arg name="tb3_3_z_pos" default="0.0"/>
  <arg name="tb3_3_yaw"   default="0.0"/>
  <group ns = "$(arg tb3_3)">
    <param name="robot_description" command="$(find xacro)/xacro $(arg robot_description_location)" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg tb3_3) -x $(arg tb3_3_x_pos) -y $(arg tb3_3_y_pos) -z $(arg tb3_3_z_pos) -Y $(arg tb3_3_yaw) -param robot_description" />
  </group>

  <arg name="tb3_4" default="tb3_4"/>
  <arg name="tb3_4_x_pos" default="4.0"/>
  <arg name="tb3_4_y_pos" default="-4.5"/>
  <arg name="tb3_4_z_pos" default="0.0"/>
  <arg name="tb3_4_yaw"   default="0.0"/>
  <group ns = "$(arg tb3_4)">
    <param name="robot_description" command="$(find xacro)/xacro $(arg robot_description_location)" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot4_$(arg tb3_2) -x $(arg tb3_4_x_pos) -y $(arg tb3_4_y_pos) -z $(arg tb3_4_z_pos) -Y $(arg tb3_4_yaw) -param robot_description" />
  </group>

</launch>

