# Ignore the graphs created in the data analysis
/ros/results/plots/*

# Ignore the data collected
/ros/results/data/*

# Other (sub-)repositories:
subjective_logic/jpy/
ros/src/evaluation-framework-code/